*{
  margin:0;
  padding:0;
  transition:1s;
  box-sizing:border-box;
  font-family: 'Jolly Lodger', cursive;
}
body{
    background-image: url(hater.jpg);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
b{
  font-size:1.5rem;
}
input, select{
  line-height: 28px;
    padding: 8px 16px;
    border: none;
   font-size: 20px;
   border-radius: 4px;
  width:100%;
}
img{
  position: absolute;
  align-items: center;
  size: 150%;
  height: 650px;
  width: 1000px;
}

#card{
  background-color: orange;
  height:400px;
  width:800px;
  border-radius:50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200% ;
  position:relative;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

#card:hover .cloud{
  background-color: orange;
  transform:translateY(500px);
  opacity:0;
  transition-delay:opacity 0.6s;
}
#card:hover form{
  opacity:1;
}
#card:hover img{
  opacity:0;
}

#card h1{
  font-family:'Frijole', cursive;
  max-width:70%;
  font-size:3rem;
  text-align:center;
  margin:auto;
}
#card p{
  font-size:1.3rem;
  text-align:center;
}
form{
  opacity:0;
}
form>div{
  margin:10px 0;
}
button{
  font-size:20px;
  padding:10px 20px;
  display:block;
  margin:auto;
}